
<%if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
<% end %>
<p><center><h2>Home of Shark Research</center>

The purpose of this site is to provide information on shark research.
<br><br><br><br>
<br><br><br><br>
<br><br><br><br>

