/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body{background:url(../images/bg.png)}
div#header{text-align:center}
div#main{width:900px;background:#fff;margin:30px auto}
div#content{padding:1em}
div#content *{color:#3c3c3c;font-family:Arial, Sans-serif}
div#content p{line-height:1.2em;letter-spacing:.1em;font-size:.9em}
div#content h1{font-size:175%;color:#005378}
div#content h2{font-size:150%;color:#005378}
div.centered{text-align:center}span#red{color:#ff0000}
span#green{color:#00ff00}#banner{background:#9c9;padding-top:1px;padding-bottom:10px;border-bottom:1px solid;font:small-caps 20px/20px "Times New Roman",serif;color:#191970;text-align:center}#banner 
img{float:left}#columns{background:#191970}#main{margin-left:8em;padding-top:1px;padding-left:2em;font-size:medium;background:white}#side{float:left;padding-top:1em;padding-left:1em;padding-bottom:1em;width:7em;background:#191970}
#side a{color:white;font-size:medium}
body{background-color:#fff;color:#333;font-family:verdana, arial, helvetica, sans-serif;font-size:13px;line-height:18px}p,ol,ul,td{font-family:verdana, arial, helvetica, sans-serif;font-size:13px;line-height:18px}
pre{background-color:#eee;padding:10px;font-size:11px}a{color:#000}a:visited{color:#666}a:hover{color:#fff;background-color:#000}
div.field,div.actions{margin-bottom:10px}#notice{color:green}.field_with_errors{padding:2px;background-color:red;display:table}#error_explanation{width:450px;border:2px solid red;padding:7px;padding-bottom:0;margin-bottom:20px;background-color:#f0f0f0}#error_explanation h2{text-align:left;font-weight:bold;padding:5px 5px 5px 15px;font-size:12px;margin:-7px;margin-bottom:0px;background-color:#c00;color:#fff}#error_explanation 
ul li{font-size:12px;list-style:square}
div#header{text-align:center}
div#nav{display:none}
div#main{background:#fff}
div#content{padding:1em}
div#content *{color:#3c3c3c;font-family:Arial, Sans-serif}
div#content p{line-height:1.2em;letter-spacing:.1em;font-size:.9em}
div#content h1{font-size:175%;color:#005378}
div#content h2{font-size:150%;color:#005378}
div.centered{text-align:center}
span#red{color:#ff0000}
span#green{color:#00ff00}.question_report{page-break-before:avoid;page-break-inside:avoid;page-break-after:avoid}
body{background:url(../images/bg.png)}
div#header{text-align:center}
div#main{width:70%;background:#fff;margin:30px auto}
div#content{padding:1em}
div#content *{color:#3c3c3c;font-family:Arial, Sans-serif}
div#content p{line-height:1.2em;letter-spacing:.1em;font-size:.9em}
div#content h1{font-size:175%;color:#005378}
div#content h2{font-size:150%;color:#005378}
div.centered{text-align:center}span#red{color:#ff0000}span#green{color:#00ff00}

